* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  margin-top: 120px;
}

.fs-19 {
  font-size: 19px;
}

.font-size-16 {
  font-size: 16px !important;
}


.fs-14 {
  font-size: 14px;
}

.primary-link {
  color: #314047;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.rounded-circle {
  border-radius: 50% !important;
}


a {
  color: #02af74;
  text-decoration: none;
}

.border-end {
  border-right: 1px solid #eff0f2 !important;
}

.d-inline-block {
  display: inline-block !important;
}

input:read-only,
input:read-only:focus {
  background-color: #E9ECEF;
  opacity: 1;
}

.page-link {
  cursor: pointer;
}

.thumb-sm {
  height: 32px;
  width: 32px;
}

.mtb {
  margin-top: 100px;
  margin-bottom: 100px;
}
